@import url(reset.css);
@import url(cores.css);
@import url(fontes.css);

*{
    font-family: var(--fonte_espindola)
}
#logo-nav img{
    max-width: 10rem;

}
nav{
    display: flex;
    margin: 0px 8vw;
    align-items: center;
    margin: 2vh 5vw;
}
.botao{
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 16pt;
    font-weight: 200;

}
#botao_menu{
    background-color: var(--verde-azulado);
    color: var(--branco);
    
}
.ul_menu{
    display: flex;
    width: 70vw;

}
.li_menu{
    margin: 0 3vw;
    font-weight: bold;
    font-size: 14pt;
    color: var(--fonte-menu);
}

#capa{
    background-image: url("../img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 87vh;
    color: var(--branco);
    padding: 15vw 25vw 10vw 10vw;
}

#texto_capa{
    border: solid black;
}
#texto_capa h1{
    font-size: 64pt;
    font-weight: bold;
}
#texto_capa h2{
    font-size: 20pt;
}
#texto_secundario_capa{
    margin-top: 2vh;
    margin-bottom: 5vh;
}
#texto_capa_botao{

}