@import url(reset.css);
@import url(cores.css);

* {
    font-family: 'Urbanist', sans-serif;

}

#capa{
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-position: bottom center;
    

}



header {
    display: flex;
    justify-content: space-between;

}

nav#menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;

}


nav#menu ul {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}

nav#menu li {
   
    border-bottom: solid 2px var(--cor-botao);
    height: 2vh;
    width: 10vw;
    cursor: pointer;
}
#btn_home img{
    height: 100pt;
}

footer {
    height: 8vh;
    background-color: bisque;
}