@import url(reset.css);
@import url(cores.css);

* {
    font-family: 'Urbanist', sans-serif;

}



#menu {
    position: fixed;
}
nav#menu ul {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

nav#menu li {

    border-bottom: solid 2px var(--cor-botao);
    cursor: pointer;
}

#capa {
    position: relative;
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size:  100%;
    height: 90vh;
    top: 10vh;

}

#texto_capa {
    text-align: center;
    color: var(--branco);
}



header {
    position: relative;
    display: flex;

    justify-content: space-between;


}




#btn_home img {
    height: 60pt;
}

footer {
    height: 8vh;
    background-color: bisque;
}