#servicos {
    display: flex;
    height: 70vh;
    padding: 0 5vw; 
}

#conteudo_servicos_imagem {
    background-image: url('../assets/imagem_servicos.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

}

.esquerda {
    width: 55vw;
}

.direita {
    width: 35vw;

}

#conteudo_subtitulo_servicos {
    font-size: 28pt;
    color: var(--verde-azulado);
    left: 0;
}

#conteudo_texto_servicos {
    left: 0;
    width: 60%;
    text-align: left;
    line-height: 20pt;
    font-size: 18pt;
    margin: 8rem 0;
}
#conteudo_com_check{
    display: flex;
    align-items: center;
    font-size: 16pt;
    line-height: 36pt;
}
#div_botao_servicos{
    margin-top: 10rem;
}
#container_certificados{
    display: flex;
    flex-direction: column;

}
.conteudo_container_certificados{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    z-index: 1;
    transform: translate(-120px,550px);
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 20px;
    width: 50%;
}
.texto_conteudo_container_certificados{
    display: flex;
    flex-direction: column;
    margin: .2rem;

}
.img_conteudo_container_certificados{
    margin: 0 1rem;
}
.numero_texto_conteudo_container_certificados{
    color: var(--verde-azulado);
    font-weight: bold;
    font-size: 24pt;
}
.legenda_texto_conteudo_container_certificados{
    color: var(--cinza);
    font-size: 18pt;
    margin-top: .2rem;

}