#servicos {
    display: flex;
    height: 80vh;
    padding: 0 5vw; 
    border: solid black;
}

#conteudo_servicos_imagem {
    background-image: url('../assets/imagem_servicos.png');
    background-repeat: no-repeat;
    z-index: 1;

}

.esquerda {
    width: 55vw;
}

.direita {
    width: 35vw;

}

#conteudo_subtitulo_servicos {
    font-size: 28pt;
    color: var(--verde-azulado);
    left: 0;
}

#conteudo_texto_servicos {
    left: 0;
    width: 70%;
    text-align: left;
    line-height: 20pt;
    font-size: 18pt;
    margin: 3rem 0;
}
#conteudo_com_check{
    display: flex;
    align-items: center;
    font-size: 16pt;
    line-height: 36pt;
}
#div_botao_servicos{
    margin-top: 4rem;
}