@import url(reset.css);
@import url(cores.css);
@import url(fontes.css);
@import url(sobreNos.css);
@import url(header.css);
@import url(capa.css);
@import url(servicos.css);



* {
    font-family: var(--fonte_espindola)
}





.botao {
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 16pt;
    font-weight: 200;
    background-color: var(--verde-azulado);
    color: var(--branco);

}

.titulo_secao {
    display: flex;
    justify-content: center;
    color: var(--preto);
    font-size: 16pt;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 8vh;
    width: 100%;
    text-transform: uppercase;

}

.paragrafo_titulo_secao {
    padding: 5pt;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;

   /* border-bottom: solid 2px var(--verde-azulado);*/
    height: 16pt;
}
#div_botao_sobre_nos{
    display: flex;
    justify-content: center;
    width: 100%;
}


