@import url(reset.css);
@import url(cores.css);
@import url(fontes.css);
@import url(sobreNos.css);
@import url(header.css);
@import url(capa.css);



* {
    font-family: var(--fonte_espindola)
}





.botao {
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 16pt;
    font-weight: 200;

}

.titulo_secao {
    color: var(--preto);
    font-size: 16pt;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 100%;
    font-family: var(--fonte_espindola);
    text-transform: uppercase;
    background-color: aqua  ;

}

.paragrafo_titulo_secao {
    background-color: bisque;
    border-bottom: solid 2px var(--verde-azulado);
    height: 16pt;
    width: 5pt;
}