*{ 
    margin: 0;
    padding: 0;

}
 body{
     display: flex;
     justify-content: center;
     -ms-align-items: center;
     align-items: center;
     min-height: 100vh;

     background-color: rgb(71, 69, 69);
     color: white;
 }

 .box{
     position: relative;
     width: 300px;
     height: 400px;

     display: flex;
     justify-content: center;
     -ms-align-items:center;
     align-items: center;
     background-color: black;
     border-radius: 20px;
     overflow: hidden;
 }
 .box p{
    font-size: 48pt; 
    z-index: 2;

 }

 .box::before{
     content: '';
     position: absolute;
     width: 10px;
     height: 150%;
     background: linear-gradient(#00ccff,#d500f9);
     animation: rotate 3s linear infinite ;

 }

 .box::after{
     content: '';
     position: absolute;
     background: black;
     inset: 5px;
     border-radius: 16px;
 }
 @keyframes rotate{
     from{
         transform:  rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
 }