{% extends 'base.html'%}
{%load static %}
{% block content %}
<header>
    {%include 'partials/_nav.html'%}
    {%include 'partials/_capa.html'%}


</header>
<section>
    {%include 'partials/_sobreNos.html'%}
    {%include 'partials/_servicos.html'%}

    {%include 'partials/_comoFunciona.html'%}
    {%include 'partials/_nossosClientes.html'%}
    {%include 'partials/_depoimentos.html'%}
    {%include 'partials/_contato.html'%}



    
</section>
{%include 'partials/_footer.html'%}

{%endblock%}