{%load static %}

<div id="capa">

    <div id="texto_capa">
        <div id="texto_principal_capa">
            <h1>Licenciamento ambiental<br>
                para o seu emprendimento</h1>

        </div>
        <div id="texto_secundario_capa">
            <h2>Realizamos tudo, desde estudos de viabilidade até gerenciamento <br>
                de alvarás e licenças para o seu projeto</h2>

        </div>
        <div>
            <input type="button" class="botao" id="texto_capa_botao" value="Faça um orçamento">
        </div>
    </div>


</div>