{%load static%}
<footer>
    <div id="itens-menu">
        <div id="logo-nav-div">
            <img id="logo-nav" src="{% static  'assets/slide3.jpg'%}" alt="Logo da empresa Espindola consultoria">
        </div>

        <ul class="ul_menu">
            <li class="li_menu">Sobre nós</li>
            <li class="li_menu">Serviços</li>
            <li class="li_menu">Como Funciona</li>
            <li class="li_menu">Clientes</li>
            <li class="li_menu">Depoimentos</li>
        </ul>
    </div>
    <div id="botao_menu_nav">
        <input id="botao_menu" class="botao" type="button" class="btn-contato" value="Entre em contato">
    </div>


</footer>