{%load static %}

<div id="servicos">
    <div class="esquerda">

        <div class="titulo_sesao">
            <p class="paragrafo_titulo_secao">Serviços</p>
        </div>

        <div id="conteudo_subtitulo_servicos">
            <p>Consultoria Ambiental Profissional</p>
        </div>
        <div>

            <p id="conteudo_texto_servicos">
                Nossa consultoria ambiental ajuda sua empresa a prosperar de forma sustentável. Oferecemos
                orientação especializada para garantir que você atenda às regulamentações ambientais, minimize
                impactos negativos e promova práticas ecologicamente responsáveis. Deixe-nos cuidar do meio
                ambiente enquanto você se concentra nos negócios.
            </p>
        </div>
        <div id="conteudo_com_check">
            <img src="../../../static/assets/servicos/check.png" alt="check" name="check_um">
            <label for="check_um">
                Primeiro ceck
            </label>
        </div>

        <div id="conteudo_com_check">
            <img src="../../../static/assets/servicos/check.png" alt="check" name="check_dois">
            <label for="check_um">
                Segundo check
            </label>
        </div>
        <div id="conteudo_com_check">
            <img src="../../../static/assets/servicos/check.png" alt="check" name="check_tres">
            <label for=" check_um">
                Terceiro check
            </label>
        </div>
        <div id="div_botao_servicos">
            <input class="botao" type="button" value="Entre em contato">
        </div>
    </div>
        <div class="direita" id="conteudo_servicos_imagem">
            direita
        </div>

</div>

</div>
</div>
</div>
</div>