{%load static %}

<div id="servicos">
    <div class="esquerda">

        <div class="titulo_sesao">
            <p class="paragrafo_titulo_secao">Serviços</p>
        </div>

        <div class="paragrafo_destaque_centralizado" id="conteudo_servicos">
            <p>Consultoria Ambiental Profissional</p>
        </div>
        <div class="paragrafo_simples_centralizado">

            <p>
                Nossa consultoria ambiental ajuda sua empresa a prosperar de forma sustentável. Oferecemos
                orientação especializada para garantir que você atenda às regulamentações ambientais, minimize
                impactos negativos e promova práticas ecologicamente responsáveis. Deixe-nos cuidar do meio
                ambiente enquanto você se concentra nos negócios.
            </p>
        </div>

    </div>
</div>
</div>
<div class="direita" id="conteudo_servicos_imagem">
    local com imagem de fundo

</div>
</div>