{%load static %}

<div id="servicos">
    <div class="titulo_sesao" id="id_titulo_sesao_servicos">
        <p>Serviços</p>
    </div>
    <div id="conteudo_servicos">
        <div id="conteudo_servicos_texto">
            <h1>Consultoria Ambiental Profissional</h1>
            <p>
                Nossa consultoria ambiental ajuda sua empresa a prosperar de forma sustentável. Oferecemos
                orientação especializada para garantir que você atenda às regulamentações ambientais, minimize
                impactos negativos e promova práticas ecologicamente responsáveis. Deixe-nos cuidar do meio
                ambiente enquanto você se concentra nos negócios.
            </p>

        </div>
        <div id="conteudo_servicos_imagem">

        </div>
    </div>
</div>