{%load static %}

<div id="sobre_nos">
    <div class="titulo_sesao" id="id_titulo_sesao_sobre_nos">
        <p>Sobre nós</p>
    </div>
    <div class="paragrafo_destaque_centralizado">
        <p>12 anos com experiencias com diversos setores</p>
    </div>
    <div class="paragrafo_simples_centralizado">
        <p>Especializamo-nos na consultoria ambiental para crematórios, tendo trabalhado extensivamente com
            esses empreendimentos ao longo dos anos. Nossa equipe experiente compreende as nuances e os desafios
            específicos enfrentados por esse setor, garantindo que nossos clientes cumpram todas as
            regulamentações ambientais enquanto mantêm a excelência operacional.</p>
    </div>

    <div id="sobre_nos_imagens_grid">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 10.png' %}">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 6 (1).png' %}">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 6.png' %}">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 7.png' %}">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 8.png' %}">
        <img class="img_grid" src="{% static  'assets/sobre_nos/Rectangle 9 (1).png' %}">

    </div>

</div>